.description-product-image-container {
  border: 1px solid rgba(184, 142, 47, 0.5);
  border-radius: 6px;
  padding: 5px;
  background-color: rgba(184, 142, 47, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-product-image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  width: 357px;
  height: 410px;
}

@media screen and (min-width: 1364px) {
  .description-product-image {
    width: 550px;
    height: 300px;
  }
}

@media screen and (min-width: 1364px) {
  .description-product-image-container {
    max-width: 606px;
    max-height: 348px;
  }
}
