.small-image-container {
  border: 1px solid rgba(184, 142, 47, 0.5);
  border-radius: 6px;
  padding: 5px;
  background-color: rgba(184, 142, 47, 0.1);
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .small-image {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 50px;
}

.product-details .small-image:hover {
  cursor: pointer;
}

.product-details .image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  width: 357px;
  height: 410px;
}

.modal-product-image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  width: 300px;
  height: 250px;
}

.modal-product-small-image {
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  width: 60px;
  height: 50px;
}

.modal-product-small-image:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product-details .image {
    width: 443px;
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-product-image {
    width: 443px;
    height: 500px;
  }
}
